<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mobile.mapper.SaleMapper">
    <select id="sumByMap" resultType="java.lang.Integer">
        select count(sale_id) from sale
        <where>
            <if test="day != null">
                sale_date = #{day}
                and shop_id in
                <foreach item="shopId" collection="shopIds" open="(" separator="," close=")">
                    #{shopId}
                </foreach>
            </if>
        </where>
    </select>
    <select id="querySalesByDateAndShopIds" resultType="map">
        SELECT sale_contract, count(*) as count
        FROM sale
        WHERE sale_date = #{date}
        AND shop_id IN
        <foreach item="shopId" collection="shopIds" open="(" separator="," close=")">
            #{shopId}
        </foreach>
        GROUP BY sale_contract
    </select>
    <select id="querySaleStatistics" parameterType="map" resultType="map">
        SELECT t.price, count(s.sale_id) AS total_quantity
        FROM sale s
        JOIN terminal t ON s.terminal_id = t.terminal_id
        WHERE s.shop_id IN
        <foreach collection="shopIds" item="shopId" open="(" separator="," close=")">
            #{shopId}
        </foreach>
        AND s.sale_date BETWEEN #{begin} AND #{end}
        GROUP BY t.price
    </select>
    <select id="querySaleStatistics2" parameterType="map" resultType="map">
        SELECT t.type, t.price, count(s.sale_id) AS total_quantity
        FROM sale s
        JOIN terminal t ON s.terminal_id = t.terminal_id
        WHERE s.shop_id IN
        <foreach collection="shopIds" item="shopId" open="(" separator="," close=")">
            #{shopId}
        </foreach>
        AND s.sale_date BETWEEN #{begin} AND #{end}
        GROUP BY t.type, t.price
    </select>

    <select id="querySalesByShopIdsAndYear" resultType="map">
        SELECT shop_id, count(sale_id) as sale_count
        FROM sale
        WHERE YEAR(sale_date) = #{year}
        AND shop_id IN
        <foreach item="shopId" collection="shopIds" open="(" separator="," close=")">
            #{shopId}
        </foreach>
        GROUP BY shop_id
    </select>
</mapper>
